extends layout 
block content
    h1 Informação do utilizador: 
    p Username: 
        span=user.username
    p Level: 
        span=user.level
    p Descrição: 
        span=user.descricao 
    p Following: 
        span=user.username
    p Followers: 
        span=user.username
    h2 Os meus recursos: 
    table 
      tr 
        th Título
        th User
        th Classificação
      